<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <ul>
    <% data.forEach(function(item,index){ %>
      <li><strong>
          <%=item.firstname %>
        </strong>
        <%=item.lastName %>, <%=item.age %>
      </li>
      <%})%>
  </ul>
</body>

</html>